/* Full page styles */

.edl-full-page {
  align-items: center;
  background: url('images/earth-day-live-gradient.jpg') no-repeat center center fixed;
  bottom: 0;
  color: var(--white);
  display: none;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  text-align: center;
}

.edl-full-page.show-close-button::after {
  content: "";
  background: url('images/earth-day-live-gradient.jpg') no-repeat center center fixed;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.edl-full-page__container {
  max-width: 40rem;
}

.edl-full-page__close {
  display: none; /* The full page close button can be configured to display: 'flex'.*/
  height: 2.5rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 2.5rem;
}

.edl-full-page__main {
  padding: 1rem;
}

.edl-full-page__logo {
  margin: 0 auto;
  width: 12rem;
  display: block;
}

.edl-full-page__body {
  margin: 2.25rem auto 0;
}

.edl-full-page__body p {
  font: normal 2.2rem/3rem titling-gothic-fb, sans-serif;
}


.edl-full-page__footer {
  bottom: 0;
  font: 400 20px/20px neue-haas-grotesk-display, sans-serif;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.edl-full-page__footer small {
  display: inline-block;
  max-width: 15.6rem;
  margin: 3rem auto;
}

.edl-website-name__prefix {
  display: none;
}

.edl-page__icon {
  max-width: 30px;
  vertical-align: middle;
  padding-bottom: 5px;
}

@media (min-width: 900px) {
  .edl-full-page__footer {
    font-size: 1.2rem;
    line-height: 1.4;
  }

  .edl-full-page__logo {
    width: 14rem;
  }
}

@media (max-height: 600px) {
  .edl-full-page__body p {
    font: normal 2.2rem/2.5rem titling-gothic-fb, sans-serif;
  }
}
